<div class="container formContainer">
  <div class="split">
    <div class="left">
      <h2 class="h3 mb-3 font-weight-normal">OC Scan Portal v1.2</h2>
      <div class="p-wrapper">
        <p><i class="fas fa-envelope-open"></i>  Help for your lost password </p>
      </div>
    </div>
    <div class="right">
      <h2 class="h3 mb-3 font-weight-normal">Check Your Email </h2>
     <div class="pwNotifyMsg">
       We've sent an email to <strong>{{email}}</strong> with valuable information to allow you to login to your account.
     </div>
     
     <div class="loginLink"><a href="/customer/login">Log In</a></div>
     
    </div>
  </div>
</div>