
<div class="card">
    <div class="card-header">
        <h1>OMNISCAN</h1>
    </div>

    <div class="card-body">
         <h2 class="h3 mb-3 font-weight-normal">Check Your Email </h2>
     <div class="pwNotifyMsg">
       <p>
       We've sent an email to <strong>{{email}}</strong> with <br >valuable information to allow you to login to your account.
       </p>
     </div>
     
     <div ><a href="/customer/login" class = "btn oc-btn">Log In</a></div>

    </div>
    <div class="card-footer">
      <div class="align-self-center">
          <p><i class="fas fa-envelope-open"></i>  Help for your lost password</p>
       
      </div>
  </div>
</div>





