<div class="container formContainer">
  <div class="split">
    <div class="left">
      <h2 class="h3 mb-3 font-weight-normal">OC Scan Portal v1.2</h2>
      <div class="p-wrapper">
        <p><i class="fas fa-search-plus"></i> Monitor Website changes</p>
        <p><i class="fas fa-envelope"></i> Notifications instantly</p>
        <p><i class="fas fa-history"></i> Access to change history</p>
        <p><i class="fas fa-envelope-open"></i> Help for your lost password</p>

        </p>
      </div>
    </div>
    <div class="right">
      <h2 class="h3 mb-3 font-weight-normal">Check Your Email </h2>
     
     <div>We've sent an email to the account you entered in the form, with some very helpful information you can use to login.</div>
     
    </div>
  </div>
</div>