<div class="container">
    <h1>Congratulations!!!</h1>
    <h2>Your Registration to OC SCAN is complete!</h2>
    <p>You will receive an email when a change is detected on your site. </p>
    <p>Login using your Access Token </p>
    <a href="/" class="btn btn-primary btn-block oc-btn">Login</a>
</div>
    